html {
  font-family: "Sofia Sans", sans-serif;
  background-color: rgb(190, 155, 101);
}

body {
  background: white;
  width: 600px;
  margin: 0 auto;
  padding: 20px 50px;
  text-align: center;
  border-radius: 15px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: 2px solid black;
  padding: 10px;
}

td > p {
  font-size: 10px;
}

img {
  width: 125px;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.5s;
}

img:hover {
  opacity: 0.7;
  border: 2px solid blue;
  transition: opacity 0.5s;
}

#head {
  border: 2px solid rgb(243, 148, 6);
  margin-bottom: 30px;
  padding: 20px;
  background: rgb(190, 155, 101);
  border-radius: 10px;
}
